

.picture{height:100px;
		 width:100px;}	
		 
.errormsg{color:#F67A59;}

.item_crud_img{
	height:50px;
	width:50px;
}



.activate_deactivate {
 
  width: 50px;
  height: 30px;
   position: relative;
  display: inline-block;
}


.activate_deactivate input {display:none;}


.glide {
 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;

  transition: .5s;
    -webkit-transition: .5s;
   position: absolute;
  cursor: pointer;
  border-radius:30px;
}

.glide:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:50%;
}

input:checked + .glide {
  background-color: #2196F3;
}

input:focus + .glide {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .glide:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}


.glide.round {
  border-radius: 34px;
}

.glide.round:before {
  border-radius: 50%;
}




.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


/* cart checkout */
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

/* order receipt */
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}


/* landing css */

.landingImg {
	width: auto;
	height : 180px;
}


.se-pre-con{
		position:fixed;
		left:0;
		top:0;
		width:98%;
		height:100%;
		z-index:9999;
		background:url(../images/pre-loader.gif) 50% no-repeat #fff
}


.shoppingCart{
	width:100px; height:100px;
}



.notavail{
	color:#F67A59;
}